body{
    margin: 0px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    
}
/* Top Banner section  */
.top-banner{
    display: grid;
    height: 75vh;
    width: auto;
    grid-template-columns: repeat(2, 1fr );
    align-items: center;
    background-color: black;
    border-radius: 20px;
    margin: 5% 10%;
}

.split-1 {
    width: 100%;
    padding-left: 20%;
}

.split-2 {
    width: 100%;
    padding-left: 25%;
}
.split-1 h1{
    color: #ffffff;
    font-size: 3em;
    line-height: 1.2em;
    
}
.split-1 p{
    color: #ffffff;
    margin-top: -1.2em;
    margin-bottom: 2em;
}
.split-1 a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    background-color: #DD0000;
    padding: 10px 14px;
    border-radius: 4px;
}
/* main content  */
.container{
    display: flex;
    gap: 1.5em;
    margin: 0% 10% 10% 10%;
    

}
.vertical-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border-radius: 12px;
    padding: 10px;
    height: 40vh;
    width: 100%;
    
    

}
.vertical-menu a{
    color: #000000;
    text-decoration: none;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 10px 20px;
    text-align: center;
    padding: 12px 0;
}
#bg-red{
    background-color: #DD0000;
    border: 1px solid #DD0000;
    color: #ffffff;
}
.match-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr );
    grid-gap: 2em;
    
    
}

.match-details{
    border: 1px solid lightgray;
    border-radius: 12px;
    
}
.match-details h4{
    padding-left: 12px;
    font-size: 15px;
}
.match-details button{
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 15px;
    font-weight: 700;
    margin-left: 12px;
    margin-top: 10px;
}
.match-details img{
    height: 130px;
    width: auto;
}
.icons{
    display: flex;
    gap: 2em;
    padding-left: 12px;
}


/* Footer  */
.footer-style{
    background-color: #161616;
    
}
.footer-style h2{
    color: #ffffff;
    text-align: center;
    padding-top: 4em;
}

ul{
    display: flex;
    column-gap: 3em;
    justify-content: center;
}
ul>li{
    color: lightgrey;
    list-style: none;
    padding: 4em 0;
}

/* Media Query  */

/* Mobile Device  */
@media only screen and (max-width: 576px) {
    body{
        margin: 0px;
        padding: 0px;

    }
    .top-banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: auto;
        width: 100%;
        background-color: #161616;
        border-radius: 20px;
        margin: 20px 40px;
        padding: 15px;
        
    }
    .split-1{
        padding-left: 0px;
        text-align: center;
    }
    .split-2{
        padding-left: 0px;
        text-align: center;
        padding-top: 40px;
    }
    .split-1 h1 {
        color: #ffffff;
        font-size: 1.5em;
        line-height: 1.2em;
        margin: 0px 50px;
        
    
    }
    
    .split-1 p {
        color: #ffffff;
        margin-top: 1.2em;
        margin-bottom: 2em;
        font-size: 12px;
        
    }
    
    .split-1 a {
        color: #ffffff;
        text-decoration: none;
        font-size: 1em;
        background-color: #DD0000;
        padding: 10px 14px;
        border-radius: 4px;
    }

        .container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1.5em;
            margin: 0% 10% 10% 10%;
    
    
        }
    
        .vertical-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #ffffff;
            border-radius: 12px;
            padding: 10px;
            margin-top: 40px;
            width: 100%;
    
    
    
        }
    
        .vertical-menu a {
            color: #000000;
            text-decoration: none;
            border: 1px solid lightgray;
            border-radius: 8px;
            margin: 10px 20px;
            text-align: center;
            padding: 12px 0;
        }
    
        #bg-red {
            background-color: #DD0000;
            border: 1px solid #DD0000;
            color: #ffffff;
        }
    
        .match-info {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(auto, 1fr);
            grid-gap: 2em;
    
    
        }
    
        .match-details {
            border: 1px solid lightgray;
            border-radius: 12px;
    
        }
    
        .match-details h4 {
            padding-left: 12px;
            font-size: 15px;
        }
    
        .match-details button {
            background-color: white;
            border: 1px solid black;
            border-radius: 4px;
            padding: 4px 8px;
            font-size: 15px;
            font-weight: 700;
            margin-left: 12px;
            margin-top: 10px;
        }
    
        .match-details img {
            height: 150px;
            width: 100%;
            
        }
    
        .icons {
            display: flex;
            gap: 2em;
            padding-left: 12px;
        }
        .footer-style {
            background-color: #161616;
            width: 100%;
            height: auto;
            
    
        }
    
        .footer-style h2 {
            color: #ffffff;
            text-align: center;
            padding-top: 20px;
        }
    
        ul {
            display: flex;
            flex-direction: column;
    
            
        }
    
        ul>li {
            color: lightgrey;
            list-style: none;
            padding: 10px;
            text-align: center;
        }
}